@use "../../../assets/scss/mixins/" as *;
@use "../../../assets/scss/presets/" as *;

.paginator-list {
  display: flex;
  gap: $gap-sm;
  justify-content: center;
  @include unlist;
  margin-bottom: 20px;
}

.page-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.page-index:hover {
  background-color: $color-gray-light;
  color: $color-light;
  border-radius: 50%;
}

.active {
  background-color: $color-accent;
  border-radius: 100%;
  color: $color-light;
}
