<form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="form">
  <div class="form-control">
    <label for="userName">Enter your name:</label>
    <input id="userName" type="text" formControlName="userName" class="input" placeholder="your name"
      [ngClass]="{'input--valid': commentForm.controls.userName.valid, 'input--invalid': (commentForm.controls.userName.dirty  ) && !commentForm.controls.userName.valid}">
  </div>

  <div class="form-control">
    <label for="comment">Enter your comment:</label>
    <textarea id="comment" formControlName="comment" class="input input--text-area"
      [ngClass]="{'input--valid': commentForm.controls.userName.valid, 'input--invalid': (commentForm.controls.userName.dirty  ) && !commentForm.controls.userName.valid}">
      placeholder="your comment" ></textarea>
  </div>

  <button type="submit" [disabled]="!commentForm.valid" class="btn">Submit</button>
</form>

<form #form="ngForm">
  <div>
    bmbmmb
    <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required
      [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
    <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
      <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
    </div>

  </div>
  <div>

    <button type="button" class="btn btn-sm btn-primary" (click)="send(form)">Send</button>

  </div>
</form>
<re-captcha (resolved)="resolved($event)" siteKey="6LcCM6skAAAAAE8jynUPmsmeyWVefZ5AxhLXocny"></re-captcha>
<app-comments [imdbID]="imdbId" [change]="change"></app-comments>