@use "../assets/scss/presets/" as *;

.container {
  max-width: 1280px;
  margin: 20px;

  display: flex;
  flex-direction: column;
}
.content {
  order: 3;
}
.title {
  order: 2;
}
.nav {
  order: -1;
}
