<ng-template [ngIf]="movie">
  <div class="container">
    <div class="movie">

      <div class="movie__poster">
        <img src="{{movie.Poster}}" alt="movie.Title">
      </div>

      <div class="movie__info">
        <h2 class="movie__title">{{movie.Title}}</h2>
        <div class="movie__ratings ratings">
          Ratings:
          <ul class="reitings__list">
            <li class="reitings__item">IMDB rating: {{movie.imdbRating}}</li>
            <li *ngFor="let source of movie.Ratings" class="reitings__item">{{source.Source}}: {{source.Value}}</li>
          </ul>
        </div>

        <div>
          Released: {{movie.Released}}
        </div>

        <div>
          Director: {{movie.Director}}
        </div>

        <div>
          Genre: {{movie.Genre}}
        </div>
      </div>

    </div>
    <button (click)="goBack()">Go back</button>
  </div>

</ng-template>