@use "../../../assets/scss/mixins/" as *;
@use "../../../assets/scss/presets/" as *;

tr :first-child {
  width: 150px;
  @include lg-md {
    padding-left: 2rem;
  }
  @include md {
    width: 100px;
  }
}

.container {
  background-color: $color-gray-light;
  padding-bottom: $gap;
}

.movie {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__trailer {
    margin-top: 1rem;
    max-width: 100%;
    text-align: center;
  }

  &__info {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      "poster title"
      "poster details";
    gap: 1rem;
    @include lg {
      grid-template-areas:
        "title"
        "poster"
        "details";
    }
  }
  &__poster {
    grid-area: poster;
    margin-top: 1rem;
    max-width: 100%;
    text-align: center;
    & img {
      max-width: 100%;
    }
  }

  &__title {
    grid-area: title;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    @include xl {
      flex-direction: column;
      justify-content: start;
    }
  }

  &__details {
    margin: 1rem 0;
    grid-area: details;
  }

  &__plot {
    margin-top: 2rem;
  }
}

iframe {
  max-width: 100%;
}
