<div>
  <label for="title-search">Enter movie title</label>
  <input #titleSearch type="text" id="title-search" placeholder="title" (input)="movieTitle=titleSearch.value">

  <label for="year-search">Choose movie year</label>
  <input #yearSearch type="number" id="year-search" (input)="movieYear=yearSearch.value">
</div>

<div>
  <button (click)="movieSearch(movieTitle, movieYear)">Search</button>
</div>

<!-- <div class="movies">
  <div *ngFor="let movie of movies" class="movie">
    <div>
      <img src="{{movie.Poster}}" alt="{{movie.Title}}">
      <div>{{movie.Title}}{{movie.Year}}</div>
    </div>
  </div>
</div> -->