<div class="form">
  <label for="title-search">Enter movie title: </label>
  <input (keyup)="movieSearch(movieTitle, movieYear)" #titleSearch type="text" id="title-search" placeholder="title"
    (input)="movieTitle=titleSearch.value" class="input">

  <label for="year-search">Choose movie year: </label>
  <input #yearSearch type="number" id="year-search" (input)="movieYear=yearSearch.value" class="input">
  <button (click)="movieSearch(movieTitle, movieYear)" class="btn">Search</button>
</div>


<ng-template [ngIf]="movies">
  <router-outlet></router-outlet>
</ng-template>


<!-- <ng-template [ngIf]="movies">
  <app-page [movies]="movies"></app-page>
</ng-template> -->