@use "../../../assets/scss/mixins/" as *;
@use "../../../assets/scss/common/classes" as *;
@use "../../../assets/scss/presets/variables" as *;

.form {
  padding: 20px 0;
  display: flex;
  gap: 20px;
  align-items: center;

  & label {
    margin-right: 20px;
  }

  @include md {
    flex-direction: column;
  }
}
