@use "../../../assets/scss/mixins/" as *;
@use "../../../assets/scss/presets/" as *;

.container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 10px;
  background-color: $color-gray-light;
  width: 30%;
  height: 40%;
  transition: all 0.5s;
}
.title {
  transition: all 0.5s;
}
