<div [ngStyle]="setMyStyles()" class="container">
  <div *ngIf="!movie; else elseBlock" class="content">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #elseBlock>

    <div>
      <div class="movie__title">
        <h4 class="title">{{movie?.Title}}</h4>
      </div>
      <div class="movie__info">
        <div>{{movie?.Director}}</div>
        <div>{{movie?.Country}}</div>
        <div>{{movie?.Genre}}</div>
        <div>{{movie?.Language}}</div>
        <div>{{movie?.Ratings | json}}</div>
      </div>
      <div class="movie__imdb-rating">Imdb rating: {{movie?.imdbRating}}</div>
    </div>
  </ng-template>

</div>