@use "../../../assets/scss/presets/" as *;
.menu-btn {
  border: none;
  background-color: $color-light;
}

.mat-menu-content {
  background-color: $color-gray-light;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $gap-sm;
  padding: 0.5rem 1rem;
}
.disabled {
  color: $color-gray;
  font-weight: 200;
}
