@use "../../../assets/scss/mixins" as *;
@use "../../../assets/scss/presets" as *;

.navbar {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.navbar__logo {
  height: 100%;
  & img {
    height: 100%;
  }
}
.navbar__list {
  @include unlist;
  display: flex;
  gap: $gap;
  @include lg {
    gap: $gap-sm;
  }
  @include md {
    display: none;
  }
}

.navbar__btn {
  @include md-min {
    display: none;
  }
}
