<div class="navbar">
  <a href="#" class="navbar__logo ">
    <img src="../../../assets/img/mercury.svg" alt="logo">
  </a>
  <div>
    <ul class="navbar__list">
      <li class="navbar__item">
        <a routerLink="/search" class="btn">Search movie</a>
      </li>
      <li class="navbar__item"><a href="#" class="btn">####</a></li>
      <li class="navbar__item"> <a routerLink="/random-movies" class="btn">Random movies</a></li>
      <li class="navbar__item"><a routerLink="/random-series" class="btn">Random series</a></li>
    </ul>
  </div>
</div>